<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block title %}
		<title>SwipeMe</title>
		{% endblock title %}
		<!-- Added stylesheets -->
		{% block head_config %}
		<link href="css/main.css" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="css/sticky-footer-navbar.css" rel="stylesheet">
		{% endblock head_config %}
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% block navbar %}
			<!-- Fixed navbar -->
			<div class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">Swipe Me</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="#">Buy</a></li>
							<li><a href="#about">Sell</a></li>
							<li><a href="#contact">Learn</a></li>
						</ul>
						{% if show_login %}
						<button type="button" class="btn btn-default navbar-btn pull-right" id="login_button">Log in</button>
						{% endif %}
					</div><!--/.nav-collapse -->
				</div>
			</div>
		{% endblock navbar %}

		<div class="container">
		{% block container %}
		{% endblock container%}
		</div>

		{% block footer %}
			<div class="footer">
				<div id="thanks">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal_feedback">
						Send us feedback!
					</button>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="modal_feedback" tabindex="-1" role="dialog" aria-labelledby="feedback_title" aria-hidden="true">
					<div class="modal-dialog">
				    	<div class="modal-content">
				      		<div class="modal-header">
				        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        		<h4 class="modal-title" id="feedback_title">Tell us what you think!</h4>
				      		</div>
					      	<div class="modal-body">
				      			<form class="contact" name="contact">
				                    <label for="name">Your Name</label><br>
				                    <input type="text" name="name" class="input-xlarge"><br>
				                    <label for="email">Your E-mail</label><br>
				                    <input type="email" name="email" class="input-xlarge"><br>
				                    <label for="message">Enter a Message</label><br>
				                    <textarea name="message" class="input-xlarge"></textarea>
				                </form>
					      	</div>
						    <div class="modal-footer">
						        <input type="submit" class="btn btn-success" value="Send!" id="submit_feedback">
						        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
						    </div>
				    	</div>
				  	</div>
				</div>
			</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
	        $(document).ready(function () {
	            $("#submit_feedback").click(function(){
	                $.ajax({
	                    type: "POST",
	                    url: "/feedback", //process to mail
	                    data: $('form.contact').serialize(),
	                    success: function(msg){
	                        $("#thanks").html(msg); //hide button and show thank you
	                        $("#modal_feedback").modal('hide'); //hide popup
	                    },
	                    error: function(){
	                        alert("failure");
	                    }
	                });
	            });
	        });
	    </script>

	    {% endblock footer %}






		{% block javascript %}
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		{% if show_login %}
		<script type="text/javascript">
		$("#login_button").click(function() {
			location.href = "/customer/dash";
		});
		</script>
		{% endif %}
		{% endblock javascript %}
	</body>
</html>
{% endautoescape %}
