{% extends "base.html" %}

{% block head_config %}
	{{ super() }}
	<link href="css/index.css" rel="stylesheet" type="text/css">

{% endblock head_config %}

{% block container %}
		<div class="row">
			<h1>It's Uber for Market Swipes
			<br><small>We use texts to match people who want to sell swipes with people who want swiped in.</small></h1>
		</div>
		
		<div class="row">
			<div class="col-md-9">
				<h3>How Does It Work?</h3>
				<ol>
					<li>Seller sets her asking price on the SwipeMe website.</li> 
					<li>Seller "checks in" by sending a text to SwipeMe when she goes to Market.</li>
					<li>Buyer sends a text to SwipeMe when he wants swiped in.</li> 
					<li>SwipeMe matches him with the seller in Market with the lowest asking price.</li> 
					<li>If the buyer accepts the price, then the seller gets a text telling her to find the buyer and swipe him in.</li> 
					<li>The buyer pays in cash.</li>
				</ol>
			</div>
			<div class="col-md-3">
				<h3>Register with Google</h3>
				<div class="row">
					<div class="col-md-6" class="register">
						<a href="customer/register?customer_type=1" class="btn btn-lg btn-primary btn-lg center-block" role="button">Buyers</a>
					</div>
					<div class="col-md-6" class="register">
						<a href="customer/register?customer_type=2" class="btn btn-lg btn-primary btn-lg center-block" role="button">Sellers</a>
					</div>
				</div>
			</div>
		</div>
	<div class="content">
		<div class="row">


		</div>
	</div>
{% endblock container %}
