{% extends "base.html" %}

{% block bootstrap_styles %}
	{{ super() }}
	<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
{% endblock bootstrap_styles %}

{% block container %}
	<div class="modal fade" id="edit_user_modal" tabindex="-1" role="dialog" aria-labelledby="edit_user_modal_title">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role="form" id="edit_user_form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="edit_user_modal_title">Edit Username</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="user_name">Name: </label>
							<input type="text" class="form-control" id="edit_user_name" name="edit_user_name" value="{{ name }}" placeholder="John Smith">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="submit" id="edit_user_submit" class="btn btn-success">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="verify_user_modal" tabindex="-1" role="dialog" aria-labelledby="verify_user_modal_title">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role="form" id="verify_user_form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="verify_user_modal_title">Verify User</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="verify_user_verification_code">Verification Code:</label>
							<input type="text" class="form-control" id="verify_user_verification_code" name="verify_user_verification_code">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="button" id="verify_user_submit" class="btn btn-success">Verify</button>
					</div>
				</form>
			</div>
		</div>
	</div>

    <div class="page-header">
        <h1>{{user_type}} Dashboard</h1>
    </div>

    <div class="col-sm-3">
		<table class="table table-bordered">
			<tr>
				<td class="text-right"><strong>Username:</strong></td><td id="name">{{ name }}</td>
			</tr>
			{% if user_type == "Seller" %}
			<tr>
				<td class="text-right"><strong>Checked In?</strong></td><td>
					{% if is_active %}Yes
					{% else %} No
					{% endif %}
				</td>
			</tr>
			{% endif %}
			<tr>
				<td class="text-right"><strong>Phone:</strong></td><td id="phone_number">{{ phone_number }}</td>
			</tr>
			<tr>
                <td class="text-right"><strong>Verified:</strong></td><td><span id="verified" class="glyphicon glyphicon-{{ verified }}"></span></td>
			</tr>
		</table>
		<div class="form-group">
            {% if display_verification_button %}
                <button class="btn btn-block btn-info" id="verify_user_button">Verify Your Phone Number</button>
            {% endif %}
			<button class="btn btn-block btn-info" id="edit_user_button">Change Username</button>
			<a href="{{ logout_url }}" class="btn btn-block btn-danger">Logout</a>
		</div>
    </div>



    <div class="col-sm-9">
        
        {% if active_user_count == 0 %}
	    <!-- If no sellers are available -->

		    <div class="alert alert-warning">
							Nobody is selling right now.
							{% if user_type == "Seller" %} If you check in, you'll have a monopoly! 
							{% elif user_type == "Buyer" %} If you go to Market, we won't be able to find someone to swipe you in.
							{% endif %}
			</div>

		{% elif active_user_count > 0 %}
		<!-- If there are sellers available -->

			<div class="container-fluid">
				<div class="col-xs-6">
					{% if active_user_count == 1 %}
						<div class="alert alert-info">There is <strong>1</strong> seller in Market.</div>
					{% else %}
						<div class="alert alert-info">There are <strong>{{ active_user_count }}</strong> sellers in Market.</div>
					{% endif %}
				</div>
				<div class="col-xs-6">
	                    <div class="alert alert-info">The current minimum price is <strong>${{ minimum_price }}</strong>.</div>
				</div>
			</div>
		{% endif %}

    	<ul class="list-group">
    		
	    	{% if user_type == "Seller" %} 
	    									<li class="list-group-item active">
	    										<h4 class="list-group-item-heading">How do I sell my swipes?</h4>
	    									</li>
	    									<li class="list-group-item"><strong>To check in to Market</strong> and receive swipe requests, text "market" to 216-242-4434.</li>
	    									<li class="list-group-item"><strong>You'll get a text</strong> when you've been matched with someone who wants to buy a swipe from you.</li>
	    									<li class="list-group-item"><strong>When you leave Market</strong> or want to stop receiving swipe requests, text "bye" to the same number.</li>
			{% elif user_type == "Buyer" %} 
											<li class="list-group-item active">
	    										<h4 class="list-group-item-heading">How do I get swiped in?</h4>
	    									</li>
	    									<li class="list-group-item"><strong>When you're outside of Market,</strong> text "market" to 216-242-4434 and we'll try to find someone to swipe you in.</li>
	    									<li class="list-group-item"><strong>If we find a match,</strong> we'll let you know the seller's price before asking you to commit with another text. Be sure you have the right amount of cash on hand!</li>
	    									<li class="list-group-item"><strong>If you agree to the price</strong> text "yes" to the same number and the seller you were matched with will be alerted.</li>
			{% endif %}
    	</ul>
	
		{% if active_user_count > 0 %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Active Sellers</h3>
				</div>
				<div class="panel-body">
					<ul>
							{% for user in active_users %}
							<li>
								{% if user.google_account %}
									{{ user.google_account.nickname() }}
								{% endif %}
							</li>
							{% endfor %}
					</ul>
				</div><!--/.panel-body-->
			</div><!--/.panel-->
		{% endif %}

	</div><!--/col-sm-9"-->

{% endblock container %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="../js/dashboard.js"></script>

{% endblock javascript %}
