{% extends "base.html" %}

{% block head_config %}
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="../css/theme.css" rel="stylesheet">
    <link href="../css/dash.css" rel="stylesheet">
    <link href="../css/sticky-footer-navbar.css" rel="stylesheet">
{% endblock head_config %}

{% block container %}
	<div class="modal fade" id="edit_user_modal" tabindex="-1" role="dialog" aria-labelledby="edit_user_modal_title">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role="form" id="edit_user_form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="edit_user_modal_title">Edit user settings</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="user_name">Name: </label>
							<input type="text" class="form-control" id="edit_user_name" name="edit_user_name" value="{{ name }}" placeholder="John Smith">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="submit" id="edit_user_submit" class="btn btn-success">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="verify_user_modal" tabindex="-1" role="dialog" aria-labelledby="verify_user_modal_title">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role="form" id="verify_user_form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="verify_user_modal_title">Verify User</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="verify_user_verification_code">Verification Code:</label>
							<input type="text" class="form-control" id="verify_user_verification_code" name="verify_user_verification_code">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="button" id="verify_user_submit" class="btn btn-success">Verify</button>
					</div>
				</form>
			</div>
		</div>
	</div>

    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    <div class="col-sm-3">
		<table class="table table-bordered">
			<tr>
				<td class="text-right"><strong>Name:</strong></td><td id="name">{{ name }}</td>
			</tr>
			<tr>
				<td class="text-right"><strong>Status:</strong></td><td>{{ is_active }}</td>
			</tr>
			<tr>
				<td class="text-right"><strong>Type:</strong></td><td>{{ user_type }}</td>
			</tr>
			<tr>
				<td class="text-right"><strong>Phone number:</strong></td><td id="phone_number">{{ phone_number }}</td>
			</tr>
			<tr>
                <td class="text-right"><strong>Verified:</strong></td><td><span id="verified" class="glyphicon glyphicon-{{ verified }}"></span></td>
			</tr>
		</table>
		<div class="form-group">
            {% if display_verification_button %}
                <button style="display: none;" class="btn btn-block btn-success" id="verify_user_button">Verify User</button>
            {% else %}
                <button class="btn btn-block btn-success" id="verify_user_button">Verify User</button>
            {% endif %}
			<button class="btn btn-block btn-primary" id="edit_user_button">Edit user</button>
			<a href="{{ logout_url }}" class="btn btn-block btn-danger">Logout</a>
		</div>
    </div><!-- /.col-sm-4 -->

	<div class="col-sm-9">
		<div class="container-fluid">
			<div class="col-xs-6">
				{% if active_user_count == 0 %}
				<div class="alert alert-warning">There are <strong>no</strong> sellers in market.</div>
				{% else %}
				<div class="alert alert-success">There are <strong>{{ active_user_count }}</strong> sellers in market.</div>
				{% endif %}
			</div>
			<div class="col-xs-6">
                {% if minimum_price == 0 %}
                    <div class="alert alert-warning">There's no current price, since there are no users.</div>
                {% else %}
                    <div class="alert alert-info">The current minimum price is <strong>${{ minimum_price }}</strong>.</div>
                {% endif %}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Active Sellers</h3>
			</div>
			<div class="panel-body">
				<ul>
					{% if active_user_count == 0 %}
					There are <strong>no</strong> active users.
					{% else %}
						{% for user in active_users %}

						<li>
							{% if user.google_account %}
							{{ user.google_account.nickname() }}
							{% endif %}
						</li>

						{% endfor %}
					{% endif %}
				</ul>
			</div><!--/.panel-body-->
		</div><!--/.panel-->
	</div><!--/.col-sm-9-->
{% endblock container %}

{% block javascript %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>

    <script src="../js/bootstrapValidator.min.js"></script>

    <script src="../js/dashboard.js"></script>

{% endblock javascript %}
