{% extends "base.html" %}
{% set customer_type = customer_type|int %}

{% block bootstrap_styles %}
  {{super()}}

{% endblock bootstrap_styles %}

{% block container %}
  <div class="page-header">
          <h1>New {{customer_str}} Registration</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="lead">Just One Form</p>
      {% if customer_str == "Buyer" %}
        <p>We're asking for your phone number so that you can text us when you want swiped in to Market.</p>
      {% elif customer_str == "Seller" %}
        <p>We're asking for your phone number so that you can text us when you're ready to swipe people in.</p>
      {% endif %}
      

    <!-- Specify symbols to display for validation.-->
    <form role="form" action="javascript:process_form()" id="register_form"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
    data-bv-onerror="on_form_invalid(this,event)"
    data-bv-onsuccess="on_form_valid(this,event)">
      <div class="form-group">
        <label for="customer_phone">Cell Phone Number </label>
        <input type="tel" id="customer_phone" class="form-control" name="phone"
        placeholder="412-555-5555"
        data-bv-phone
        data-bv-phone-country="US"
        data-bv-phone-message="Please enter a valid phone number."
        data-bv-notempty="true"
        data-bv-notempty-message="Please enter a valid phone number.">
        <p class="help-block">
          You should receive a confirmation text in less than a minute.
        </p>
      </div>

      {% if customer_str == "Seller" %}
        <br>
        <p>Also, tell us how much you want to be paid for your swipes.</p>
        <div class="form-group">
          <label for="asking_price">Asking Price</label>
          <!--TODO: DRY by eliminating duplication of messages -->
          <input type="number" name="number" name="lessThan" name="greaterThan" class="form-control" id="asking_price" placeholder="Whole dollars only, please."
          data-bv-integer-message="Please enter a whole dollar value."
          data-bv-lessthan
          data-bv-lessthan-inclusive="false"
          data-bv-lessthan-value="10"
          data-bv-lessthan-message="Please enter a number between 1 and 9."
          data-bv-greaterthan
          data-bv-greaterthan-inclusive="false"
          data-bv-greaterthan-value="0"
          data-bv-greaterthan-message="Please enter a number between 1 and 9."
          data-bv-notempty="true"
          data-bv-notempty-message="Please enter a number between 1 and 9.">
          <p class="help-block">Buyers will be matched with the seller in Market with the lowest price.</p>
        </div>
      {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock container %}


{% block javascript %}
    {{ super() }}
    
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

    <script>

      // initializes Bootstrap Validator plugin
      $(document).ready(function() {
        $('#register_form').bootstrapValidator()
      });

      function process_form(t,event){

        //Create object with customer data to pass in post request
        form_data = {"customer_type": "{{customer_type}}"};

        //Store phone number as string of 10 digits
        var phone_number = $('#customer_phone').val();
        phone_number = phone_number.replace(/\D/g,'');
        form_data.phone_number = phone_number;

        //For seller, pass specified price.
        //For buyer pass dummy value.
        {% if customer_str == "Seller" %}
            form_data.asking_price = $('#asking_price').val();
        {% elif customer_str == "Buyer" %}
            form_data.asking_price = '0';
        {% endif %}

        //Send form data to backend.
        //Redirect to home screen
        $.post("add_customer",form_data, function(){
          window.location = "dash";
        });
      }
    </script>
{% endblock javascript %}
