{% extends "base.html" %}
{% set customer_type = customer_type|int %}

{% block head_config %}
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/register.css" rel="stylesheet">
    <link href="../css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
{% endblock head_config %}

{% block container %}
  <!-- Specify symbols to display for validation.-->
  <form role="form" action="javascript:process_form()" id="register_form"  
  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
  data-bv-onerror="on_form_invalid(this,event)"
  data-bv-onsuccess="on_form_valid(this,event)">
    <div class="form-group">
      <label for="customer_phone">Cell Phone Number </label>
      <input type="tel" id="customer_phone" name="phone" 
      placeholder="412-555-5555"
      data-bv-phone
      data-bv-phone-country="US"
      data-bv-phone-message="Please enter a valid phone number."
      data-bv-notempty="true"
      data-bv-notempty-message="Please enter a valid phone number.">
      <p class="help-block">
        {% if customer_type == 1 %}
          You'll send <em>SwipeMe</em> a text to let buyers know you're in a dining hall. 
          You'll get a text when you're matched with a buyer.
        {% elif customer_type == 2 %}
          You'll send <em>SwipeMe</em> a text when you want to be swiped in to a dining hall.
        {% endif %}
      </p>
    </div>
    {% if customer_type == 2 %}
      <div class="form-group">
        <label for="asking_price">Asking Price</label>
        <!--TODO: DRY by eliminating duplication of messages -->
        <input type="number" name="number" name="lessThan" name="greaterThan" class="form-control" id="asking_price" placeholder="Whole dollars only, please."
        data-bv-integer-message="Please enter a whole dollar value."
        data-bv-lessthan
        data-bv-lessthan-inclusive="false"
        data-bv-lessthan-value="10"
        data-bv-lessthan-message="Please enter a number between 1 and 9."
        data-bv-greaterthan
        data-bv-greaterthan-inclusive="false"
        data-bv-greaterthan-value="0"
        data-bv-greaterthan-message="Please enter a number between 1 and 9."
        data-bv-notempty="true" 
        data-bv-notempty-message="Please enter a number between 1 and 9.">
        <p class="help-block">This is how much you'll be paid to swipe someone in.</p>
      </div>
    {% endif %}
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock container %}

{% block javascript %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/bootstrapValidator.min.js"></script>
  <script>

    // initializes Bootstrap Validator plugin
    $(document).ready(function() {
      $('#register_form').bootstrapValidator()
    });

    function process_form(t,event){

      console.log("Made it into process_form()");

      //Create object with customer data to pass in post request
      form_data = {"customer_type": "{{customer_type}}"};
      
      //Store phone number as string of 10 digits
      var phone_number = $('#customer_phone').val();
      phone_number = phone_number.replace(/\D/g,'');
      form_data.phone_number = phone_number;
      
      {% if customer_type == 2 %}
      console.log("Made it into 'swiper' portion");
     
      var $price_element = $('#asking_price');
      {
        form_data.asking_price = $price_element.val();
      }
      
      //If we are processing a swipee, we can insert
      // a dummy value for price.
      {% elif customer_type == 1 %}
      {
        form_data.asking_price = '0';
      }
      {% endif %}

      //Send form data to backend. 
      //Redirect to home screen
      $.post("add_customer",form_data, function(){
        window.location = "dash";
      });
    }
  </script>
{% endblock javascript %}
